<!DOCTYPE html>
<html>
<head>
<title>{{pagetitle}}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="{{style}}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{javascript}}"></script>
</head>
<body>

<div class="page">
	<div class="semipage-1">
		<div class="semipage-2">
{{table}}
		</div>
	</div>
</div>

<div id="boxes">
	<div id="window">
		<div class="win-inner">
			<p>
				<span class="desc-title">Описание</span>
				<span class="close">Закрыть</span>
			</p>
			<div class="text"></div>
		</div>
	</div>
	<div id="mask"></div>
</div>

</body>
</html>